*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

section{
    width: 100vw;
    height: 100vh;
    background: white;
}
i{
    margin-right: 3px;
}
header{
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-size:3vh;
}
#flex-box{
    width: 100vw;
    display: flex;
    justify-content: center;
}
#flex{
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items:center ;
    background-color: white;
    color: black;
    position: absolute;
    top: 15vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 8px;
}
form,h1{
    display: flex;
    flex-direction: column;
    width: 20vw;
}
form>*{
    margin: 1vh;
}
h1{
    align-items: center;
    font-size: 5vh;
    width: 80vw;
    margin-bottom: 5vh;
}
input{
    background-color: rgba(0,0,0,0.1);
}
input::placeholder{
    padding-left: 1vw;
}