*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    overflow-y: hidden;
}
i{
    color: white;
}
.fa-circle-chevron-left,.fa-circle-chevron-right{
    color:black;
}
.fa-circle-chevron-left:hover{
    color: black;
}
a{
    text-decoration: none;
}
.gm,#span2,.l-but-size,#cur-s-name,#cur-s-artist{
    color: white;
}
.h-s>a{
    color: white;
}
button{
    text-decoration: none;
    background: none;
    border: none;
}
header{
    position: fixed;
    background-color: transparent;
    z-index: 2;
    top: 1.5vh;
}
body{
    background-color: #000;

}
body>div{
    display: grid;
    grid-template-columns: 27vw 44vw 27vw;
    grid-template-rows: 15vh 85vh;
    gap: 0.5vw;
    margin: 0vh 0.5vw 0vh 0.5vw;
    position: relative;
    top: 1.5vh;
}
section{
    border-radius: 8px;
}
#left-section,#right-section,#section-four,section{
    background-color: #121212;
    width: 100%;
    height: 100%;
}

#centre-section,#right-section{
    grid-row: span 2;
}
#right-section{
    display: none;
}
/*left section*/
#left-section>div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 80%;
    position: relative;
    top: 10%;
}
#left-section>div>button{
    position: relative;
    left: 2vw;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
.l-but-size{
    font-size: larger;
}
/*centre section*/
#centre-section{
    background: linear-gradient(#301b86,#121212,#121212,#121212);
    /*background-color: #121212;*/
    grid-column: span 2;
    width: 100%;
    overflow-y: auto;
}
#top-bar{
    display: flex;
    width: 66.5vw;
    justify-content: space-between;
    padding:2.5vh 2vw 2.5vh 2vw;
}
#top-bar>div>.r-but{
    border-radius: 32px;
    padding: 8px 16px;
}
.r-but>a{
    font-weight: bolder;
}
#white-pr{
    background-color: white;
}
#white-pr>a{
    color: black;
    font-weight: bolder;
}
#centre-main{
    position: relative;
    top: 10vh;
}
.gm{
    margin-left: 2vw;
    font-size: 4vh;
    font-weight: bold;
}
.ar-but{
    height: 100%;
    width: 100%;
}
/*.ar-but{
    text-decoration: none;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    overflow-y: hidden;

}*/
#install{
    background-color: black;
}
#install>i{
    position: relative;
    top: 2px;
}
#install>a{
    color: white;
}
#ar-div{
    display: flex;
    gap: 0.5rem;
    
}
button>a{
    text-decoration: none;
}

#span2{
    font-size: 3.5vh;
    font-weight: bold;
    margin: 0;
    
}
.h-s{
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: space-between;

}
.h-s>a{
    text-decoration: none;
    
}

/*Recent*/
#recent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 10vh;
    column-gap: 2vw;
    row-gap: 2vh;
    margin:2.5vh 2vw 5vh 2vw;
}

#recent>div{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    display: flex;
    align-items: center;
}
#recent>div:hover{
    background-color:rgb(0, 0, 0,0.1) ;
    cursor: pointer;
    transition: 1s;
}
.img-cover-gm{
    height: 100%;
    width: 25%;
    background-color: white;
}
.gm-txt{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.gm-txt>span{
    color: white;
}
/*recent image*/
.gm-i{
    background-position: center;
    background-size:cover;
}
.gm-1{
    background-image: url(./images/liked.jfif);
}
.gm-2{
    background-image: url(./images/all-songs.png);
}
.gm-3{
    background-image: url(./images/podcasts.png);
}
.gm-4{
    background-image: url(./images/top-50-g.png);
}
.gm-5{
    background-image: url(./images/top-50-i.png);
}
.gm-6{
    background-image: url(./images/my\ recommendations.png);
}
/*box*/
.box-5{
    display: flex;
    column-gap: 1.25vw;
    position: relative;
    left: 2vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.box-5>div{
    width: 12.5vw;
    height: 38vh;
    background-color: rgba(0,0,0,0.3);
    border-radius: 6px;
}
.box-5>div:hover{
    background-color: rgb(78, 74, 74);
    backface-visibility: 0.05;
    transition: 0.5s;
    cursor: pointer;
}
.box-5>div>.d-m{
    width: 10.5vw;
    height: 22vh;
    background-color: white;
    margin: 1vw;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
}
.d-m-t{
    display: flex;
}
.white-h3,p{
    color: white;
    margin-left: 1.5vw;
    flex-wrap: wrap;
}
/*images for background covers*/
#chill-mix{
    background-image: url(./images/chill-mix.png);
}
#pop-mix{
    background-image: url(./images/pop-mix.png);
}
#future-bass-mix{
    background-image: url(./images/Future\ bass-mix.png);
}
#metal-mix{
    background-image: url(./images/Metal-mix.png);
}
#dubstep-mix{
    background-image: url(./images/Dubstep-mix.png);
}
#distractible{
    background-image: url(./images/Distractible.png);
}
#trash-taste{
    background-image: url(./images/trash-taste.png);
}
#mahabharata{
    background-image: url(./images/Mahabharata.png);
}
#sngf{
    background-image: url(./images/sngv.png);
}
#ikigai{
    background-image: url(./images/ikigai.png);
}

/*player*/
#player{
    position: fixed;
    width: 100vw;
    height: 20vh;
    top: 90vh;
    background-color: #000;
    display: flex;
}
#player>#cur-s{
    width: 30vw;
    margin: 0;
    position: relative;
    left: 2.5vw;
    top: 2vh;
}
#player>#m-player{
    position: relative;
    top: 2vh;
}
#cur-s>div>h3,span{
    margin-left: 1.5vw;
}
#cur-s>svg{
    margin-left: 1vw;
}
#gap{
    height: 1vh;
}
#mid-player{
    display: flex;
    align-items: center;
}
input[type="range"]{
    width: 35vw;
    height: 0.5vh;
}
#progress-bar{
    cursor: pointer;
}
#player-icons{
    width: 35vw;
    display: flex;
    gap: 1.25vw;
    justify-content: center;
    align-items: center;
}
#cur-s{
    display: flex;
}
#cur-s-img{
    height: 5vh;
    width: 3vw;
    background-color: white;
}
#cur-s-img{
    background-image: url(./cover/Deep-Blue.png);
    background-position: center;
    background-size:cover;
}
#play{

}


/*section four*/
#section-four{
    height: 74vh;
}
#flex-4>div>a{
    color: white;
    font-weight: bolder;
}
#flex-4{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 7.5%;
    margin-top:3vh ;
    margin-bottom: 1.5vh;
}
#plus-arrow{
    display: flex;
    column-gap:2vw ;
}
.fa-plus,.fa-arrow-right{
    font-size: larger;
}
/*saved and custom playlists*/
.l-grid{
    display: grid;
    width: 85%;
    height: 10%;
    margin-left: 2%;
    margin-right: 1%;
    padding-left: 2.5%;
    padding-right: 8%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vh;
}
.l-grid:hover{
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px;
    cursor: pointer;
}
.l-grid>div{
    height: 100%;
    width: 100%;
    color: white;
}
#l-grid-container{
    height: 100%;
    overflow-y: visible;
}
.l-covers{
    grid-row: span 2;
    background-position: center;
    background-size: cover;
    border-radius: 5%;
}
/*saved song covers*/
.cmb{
    background-image: url(./cover/catch-my-breath.png);
}
.su{
    background-image: url(./cover/show-up.png);
}
.sleepless{
    background-image: url(./cover/sleepless.png);
}
.isohel{
    background-image: url(./cover/isohel.png);
}
.anti-h{
    background-image: url(./cover/anti-hero.png);
}
.znmd{
    background-image: url(./cover/znmd.png);
}
.deep-b{
    background-image: url(./cover/Deep-Blue.png);
}
.add-l{
    background-image: url(./cover/add-l.png);
}

/*scrollbar*/
::-webkit-scrollbar{
    width: 12px;
    z-index: 2;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: transparent;

}



i{
    cursor: pointer;
}
.display-none{
    display: none;
}