<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/6a4c513f0a.js" crossorigin="anonymous"></script>
    <script src="./index.js" defer></script>
</head>
<body>
    <div>
        <!--left section-->
        <section id="left-section">
            <div>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0,0,256,256">
                        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M39.5,43h-9c-1.381,0 -2.5,-1.119 -2.5,-2.5v-9c0,-1.105 -0.895,-2 -2,-2h-4c-1.105,0 -2,0.895 -2,2v9c0,1.381 -1.119,2.5 -2.5,2.5h-9c-1.381,0 -2.5,-1.119 -2.5,-2.5v-19.087c0,-2.299 1.054,-4.471 2.859,-5.893l14.212,-11.199c0.545,-0.428 1.313,-0.428 1.857,0l14.214,11.199c1.805,1.422 2.858,3.593 2.858,5.891v19.089c0,1.381 -1.119,2.5 -2.5,2.5z"></path></g></g>
                    </svg>
                    <div>
                        <a href="./index.html"><strong class="l-but-size">Home</strong></a>
                    </div>
                </button>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0,0,256,256">
                        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8.53333,8.53333)"><path d="M13,3c-5.511,0 -10,4.489 -10,10c0,5.511 4.489,10 10,10c2.39651,0 4.59738,-0.85101 6.32227,-2.26367l5.9707,5.9707c0.25082,0.26124 0.62327,0.36648 0.97371,0.27512c0.35044,-0.09136 0.62411,-0.36503 0.71547,-0.71547c0.09136,-0.35044 -0.01388,-0.72289 -0.27512,-0.97371l-5.9707,-5.9707c1.41266,-1.72488 2.26367,-3.92576 2.26367,-6.32227c0,-5.511 -4.489,-10 -10,-10zM13,5c4.43012,0 8,3.56988 8,8c0,4.43012 -3.56988,8 -8,8c-4.43012,0 -8,-3.56988 -8,-8c0,-4.43012 3.56988,-8 8,-8z"></path></g></g>
                        </svg>
                    <a href="./search_page.html"><strong class="l-but-size">Search</strong></a>
                </button>
            </div>
        </section>
    
    
        <!--centre section-->
        <section id="centre-section">
            <header id="top-bar">
                <div id="ar-div">
                    <a href="" class="ar-but"><i class="fa-solid fa-circle-chevron-left fa-2x"></i></a>
                    <a href="" class="ar-but"><i class="fa-solid fa-circle-chevron-right fa-2x"></i></a>
                </div>
                <div>
                    <button class="r-but" id="white-pr">
                        <a href="">Explore Premium</a>
                    </button>
                    <button class="r-but" id="install">
                        <i class="fa-regular fa-circle-down"></i>
                        <a href="">Install App</a>
                    </button>
                    <button>
                        <a href="">logo</a>
                    </button>
                </div>
            </header>
            <div id="centre-main">
                <h2 class="gm">Good morning</h2>
                <div id="recent">
                    <div>
                        <div class="img-cover-gm gm-1 gm-i"></div>
                        <div class="gm-txt"><span>Liked Songs</span></div>
                    </div>
                    <div>
                        <div class="img-cover-gm gm-2 gm-i"></div>
                        <div class="gm-txt"><span>All Songs</span></div>
                    </div>
                    <div>
                        <div class="img-cover-gm gm-3 gm-i"></div>
                        <div class="gm-txt"><span>All Podcasts</span></div>
                    </div>
                    <div>
                        <div class="img-cover-gm gm-4 gm-i"></div>
                        <div class="gm-txt"><span>Top 50 Global</span></div>
                    </div>
                    <div>
                        <div class="img-cover-gm gm-5 gm-i"></div>
                        <div class="gm-txt"><span>Top 10 India</span></div>
                    </div>
                    <div>
                        <div class="img-cover-gm gm-6 gm-i"></div>
                        <div class="gm-txt"><span>My Recommendations</span></div>
                    </div>
                </div>
                <div class="h-s">
                    <h3 id="span2">Discover</h3>
                    <a href="">Show All</a>
                </div>
                <div class="box-5">
                    <div>
                        <div class="d-m" id="chill-mix"></div>
                        <h3 class="white-h3">Daily Mix 1</h3>
                        <div class="d-m-t">
                            <p>Chill Mix</p>
                        </div>
                    </div>
                    <div>
                        <div class="d-m" id="dubstep-mix"></div>
                        <h3 class="white-h3">Daily Mix 2</h3>
                        <div class="d-m-t">
                            <p>Dubstep Mix</p>
                        </div>
                    </div><div>
                        <div class="d-m" id="future-bass-mix"></div>
                        <h3 class="white-h3">Daily Mix 3</h3>
                        <div class="d-m-t">
                            <p>Future Bass Mix</p>
                        </div>
                    </div><div>
                        <div class="d-m" id="pop-mix"></div>
                        <h3 class="white-h3">Daily Mix 4</h3>
                        <div class="d-m-t">
                            <p>Pop Mix</p>
                        </div>
                    </div><div>
                        <div class="d-m" id="metal-mix"></div>
                        <h3 class="white-h3">Daily Mix 5</h3>
                        <div class="d-m-t">
                            <p>Metal Mix</p>
                        </div>
                    </div>
                </div>
                <div class="h-s">
                    <span id="span2">Episodes for you</span>
                    <a href="">Show All</a>
                </div>
                <div class="box-5">
                    <div>
                        <div class="d-m" id="distractible"></div>
                        <h3 class="white-h3">Distractible</h3>
                        <div class="d-m-t">
                            <p>Markiplier</p>
                        </div>
                    </div>
                    <div>
                        <div class="d-m" id="trash-taste"></div>
                        <h3 class="white-h3">Trash Taste</h3>
                        <div class="d-m-t">
                            <p>Trash Taste podcast</p>
                        </div>
                    </div><div>
                        <div class="d-m" id="mahabharata"></div>
                        <h3 class="white-h3">Mahabharata</h3>
                        <div class="d-m-t">
                            <p>Sudipta Bhawmik</p>
                        </div>
                    </div><div>
                        <div class="d-m" id="sngf"></div>
                        <h3 class="white-h3">The Subtle art of not giving a Fuvk</h3>
                        <div class="d-m-t">
                            <p>Mark Manson</p>
                        </div>
                    </div><div>
                        <div class="d-m" id="ikigai"></div>
                        <h3 class="white-h3">Ikigai</h3>
                        <div class="d-m-t">
                            <p>Hector Garcia</p>
                        </div>
                    </div>
                </div>
                <div class="h-s">
                    <span id="span2">Your Favourite artists</span>
                    <a href="">Show All</a>
                </div>
                <div class="box-5">
                    <div>
                        <div class="d-m"></div>
                        <h3 class="white-h3">Daily Mix 1</h3>
                        <div class="d-m-t">
                            <p>Illenium</p>
                        </div>
                    </div>
                    <div>
                        <div class="d-m"></div>
                        <h3 class="white-h3">Daily Mix 2</h3>
                        <div class="d-m-t">
                            <p>Dubstep Mix</p>
                        </div>
                    </div><div>
                        <div class="d-m"></div>
                        <h3 class="white-h3">Daily Mix 3</h3>
                        <div class="d-m-t">
                            <p>Future Bass Mix</p>
                        </div>
                    </div><div>
                        <div class="d-m"></div>
                        <h3 class="white-h3">Daily Mix 4</h3>
                        <div class="d-m-t">
                            <p>Pop Mix</p>
                        </div>
                    </div><div>
                        <div class="d-m"></div>
                        <h3 class="white-h3">Daily Mix 5</h3>
                        <div class="d-m-t">
                            <p>Metal Mix</p>
                        </div>
                    </div>
                </div>
    
            </div>
            
        </section>
    
    
    
        <!--right section-->
        <section id="right-section">
    
        </section>
    
    
        <!--section-four-->
        <section id="section-four">
            <div id="flex-4">
                <div>
                    <a href="">Your library</a>
                </div>
                <div id="plus-arrow">
                    <button>
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button>
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div id="l-grid-container">
                <div class="l-grid">
                    <div class="l-covers cmb"></div>
                    <div>Catch My Breath</div>
                    <div>N3WPORT</div>
                </div>
                <div class="l-grid">
                    <div class="l-covers su"></div>
                    <div>Show Up</div>
                    <div>Virtual Riot</div>
                </div>
                <div class="l-grid">
                    <div class="l-covers sleepless"></div>
                    <div>SLeepless</div>
                    <div>Pixel Terror</div>
                </div>
                <div class="l-grid">
                    <div class="l-covers isohel"></div>
                    <div>Isohel</div>
                    <div>Eden</div>
                </div>
                <div class="l-grid">
                    <div class="l-covers anti-h"></div>
                    <div>Anti-Hero-Remix</div>
                    <div>Illenium</div>
                </div>
                <div class="l-grid">
                    <div class="l-covers znmd"></div>
                    <div>Khaabon ke Parinday</div>
                    <div>Alyssa Mendonsa</div>
                </div>
                <div class="l-grid">
                    <div class="l-covers deep-b"></div>
                    <div>Deep Blue</div>
                    <div>William Black</div>
                </div>
                <div class="l-grid">
                    <div class="l-covers add-l"></div>
                    <div>Add your own song</div>
                    <div>By whoever you want</div>
                </div>
                <div style="height: 10vh; width: 10vh;"></div>
            </div>
        </section>
    
        <!--player-->
        <section>
            <div id="player">
                <div id="cur-s">
                    <div id="cur-s-img"></div>
                    <div>
                        <h3 id="cur-s-name">Deep Blue</h3>
                        <span id="cur-s-artist">William Black</span>
                    </div>
                    <i class="fa-solid fa-heart" style="color: #f3f4f7; height: 15px; width: 2vw;margin-left: 1vw; margin-top: 0.5vh;"></i>
                </div>
                <div id="m-player">
                    <div id="player-icons">
                        <i id="shuffle" class="fa-solid fa-shuffle"></i>                        <i id="previous" class="fa-solid fa-backward-step"></i>                        <!--<svg id="play" height="2.5vw" width="2.5vw" fill="#000000" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path  fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#ffff"></path> <path d="M15.4137 13.059L10.6935 15.8458C9.93371 16.2944 9 15.7105 9 14.7868V9.21316C9 8.28947 9.93371 7.70561 10.6935 8.15419L15.4137 10.941C16.1954 11.4026 16.1954 12.5974 15.4137 13.059Z" fill="#000000"></path> </g></svg>-->
                        <i id="play" class="fa-sharp fa-regular fa-circle-play fa-2x"></i>
                        <i id="next" class="fa-solid fa-forward-step"></i>
                        <svg id="repeat" height="1.45vw" width="1.45vw" fill="#ffff" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5.00001 4C3.34315 4 2.00001 5.34314 2.00001 7L2 17C2 18.6569 3.34315 20 5 20H8C8.55228 20 9 19.5523 9 19C9 18.4477 8.55228 18 8 18H5C4.44771 18 4 17.5523 4 17V7C4 6.44772 4.44771 6 5 6L19 6C19.5523 6 20 6.44772 20 7L20 17C20 17.5523 19.5523 18 19 18H14.0027L15.2821 16.7161C15.6734 16.3235 15.6734 15.687 15.2821 15.2944C14.8909 14.9019 14.2566 14.9019 13.8654 15.2944L11.5937 17.574L11.5805 17.5873C10.804 18.3724 10.8057 19.6406 11.5859 20.4234L13.8604 22.7058C14.2513 23.0981 14.8852 23.0981 15.2762 22.7058C15.6672 22.3134 15.6672 21.6773 15.2762 21.285L13.9956 20H19C20.6569 20 22 18.6569 22 17L22 7C22 5.34315 20.6569 4 19 4L5.00001 4Z" fill="#ffff"></path> </g></svg>
                    </div>
                    <div id="gap"></div>
                    <div id="mid-player">
                        <input type="range" name="range" id="progress-bar" min="0" max="100" value="0">
                    </div>
            </div>

        </div>
    </section>


    </div> 
    <!--left section-->
    
</body>
</html>