<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sign_up.css">
    <script src="https://kit.fontawesome.com/6a4c513f0a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <section>
        <header>
            <i class="fa-brands fa-spotify" style="color: #1ed760;"></i>
            Spotify
        </header>
        <div id="flex-box">
            <div id="flex">
                <h1>
                    Sign up for free to listen
                </h1>
                <div style="width: 40%; margin-bottom: 5vh;">
                    <hr style="border-color: rgba(0, 0, 0, 0.5);">
                </div>
                <% if(locals.error1 || locals.error2){%>
                <form action="sign_up" method="POST">
                    <label for="email">Email aur username</label>
                    <input type="text" name="email" placeholder="Email or username" required style="height: 7vh;box-shadow:inset 0 0 0 1px #878787;border-radius: 6px;">
                    <label style="margin-left: 1vh;color: red; font-size: smaller;"><%=error1%></label>
                    <label for="password">Password</label>
                    <input type="text" name="password" placeholder="password" required style="height: 7vh; box-shadow:inset 0 0 0 1px #878787;border-radius: 6px;">
                    <label style="margin-left: 1vh;color: red;font-size: smaller"><%=error2%></label>
                <%}else{%>
                <form action="sign_up" method="POST">
                    <label for="email">Email aur username</label>
                    <input type="text" name="email" placeholder="Email or username" required style="height: 7vh;box-shadow:inset 0 0 0 1px #878787;border-radius: 6px;">
                    <label for="password">Password</label>
                    <input type="text" name="password" placeholder="password" required style="height: 7vh; box-shadow:inset 0 0 0 1px #878787;border-radius: 6px;">
                    <%}%>
                <input type="submit" value="Sign up" style="width: 18vw; height: 5vh; margin-top: 3vh; border-radius: 20px; background-color: #1ed760;">
                </form>
                <div style="width: 40%; margin-top: 5vh; margin-bottom: 5vh;">
                    <hr style="border-color: rgba(0, 0, 0, 0.5);">
                </div>
                <div style="height: 5vh;width: 60vw; display: flex;justify-content: center;">
                    <form action="/" method="GET">
                    <span style="color: #878787;">Have an account? <a href="./login" style="color: #1ed760;">Log in</a></span>
                </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>